<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
      <p>My name is Simisola Akinrele</p>
      <p>I am a full stack software developer at <a href="#">Andela</a></p>
      <p>I am passionate about Software development and adhering to the
      principles of Computer Science to solve problems</p>
      <p>I build apps using Ruby/Ruby on Rails, Javascript (React-Redux).</p>
      <p>Basically, I love to code. &#128512;</p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Stuff I've Written</h2>
      <hr>
      <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2>Stuff I've Built</h2>
      <hr>
      <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
  </div>